* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f1f6f9;
  color: #212a3e;

  font-family: "Open Sans", sans-serif;
}

body {
  height: 100vh;
  max-width: 1000px;
  margin: 0 auto;
  padding: 15px;
}

header {
  height: 15vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.title-banner {
  display: flex;
  align-items: center;
}

h1 {
  /* margin: 5%; */
  font-size: 45px;
  font-family: "Amatic SC", cursive;
}
span {
  font-size: 30px;
  font-family: "Amatic SC", cursive;
}

nav {
  margin: 5%;
}

ion-icon {
  margin: 5px;
  font-size: 20px;
  cursor: pointer;
}

.main-body {
  display: flex;
  /* justify-content: space-between; */
}

.link-container {
  margin-left: 12%;
  margin-top: 25px;
}

ul {
  list-style-type: none;
}

li {
  margin: 5px auto;
}

.about-container {
  width: 60%;
}

h2 {
  font-size: 25px;
  font-family: "Amatic SC", cursive;
}

p {
  font-size: 15px;
  margin: 25px 0;
}

h3 {
  font-size: 28px;
  font-family: "Amatic SC", cursive;
}

footer {
  height: 10vh;
  display: flex;
  align-items: center;
  padding: 10px;
}

button {
  width: 150px;
  height: 100%;
  font-size: 18px;
  border: solid 2px #394867;
}
a {
  text-decoration: none;
  /* color: black; */
  cursor: pointer;
}
