* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: #f1f6f9;
  color: #212a3e;
  height: 100vh;
  max-width: 1000px;
  margin: 0 auto;
  padding: 15px;
}

header {
  height: 15vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  background-color: #394867;
  color: #f1f6f9;
  padding: 5px;
  min-height: 50px;
}

.title {
  display: flex;
  align-items: center;
  max-width: 70%;
}

h1 {
  font-size: 2.5em;
  font-family: "Amatic SC", cursive;
}
span {
  font-size: 0.6em;
  font-family: "Amatic SC", cursive;
}

.title-links-container {
  margin: 5%;
}

ion-icon {
  margin: 5px;
  font-size: 1em;
  cursor: pointer;
  transition: all 400ms ease;
  color: #f1f6f9;
}
ion-icon:hover {
  color: #67779a;
}

.main {
  display: flex;
}

.main-text {
  width: 70%;
}

.img-container {
  display: flex;
  align-items: center;
}

img {
  height: 300px;
  margin-right: 20px;
  box-shadow: 2px 2px 5px #6c7992;
}

.main-links-container {
  margin-left: 8%;
  margin-top: 25px;
  max-width: 30%;
}

ul {
  list-style-type: none;
}

li {
  margin: 15px auto;
}

.main-published-links {
  font-size: 0.9em;
  color: #212a3e;
}
.main-published-links:hover {
  color: #6c7992;
  transition: all 300ms ease;
}

h2 {
  font-size: 25px;
  font-family: "Amatic SC", cursive;
}

p {
  font-size: 15px;
  margin: 25px 0;
}

h3 {
  font-size: 2em;
  font-family: "Amatic SC", cursive;
}

footer {
  display: flex;
  align-items: center;
  padding: 10px 0 25px 0;
}

.contact {
  width: 150px;
  height: 60px;
  font-size: 15px;
  transition: all 400ms ease;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #394867;
  color: white;
}

.contact:hover {
  background-color: #5c6986;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #212a3e;
}

@media (max-width: 580px) {
  body {
    width: 100%;
  }
  header {
    height: 180px;
    display: flex;
    justify-self: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
  }
  h1 {
    text-align: center;
    margin: 0 auto;
  }
  .title-links-container {
    margin: 2%;
  }
  .title-links {
    margin: 10px;
  }
  .main {
    flex-direction: column;
    align-items: center;
  }
  .main-text {
    width: 90%;
  }
  .img-container {
    flex-direction: column;
  }
  img {
    margin: 0;
  }
  .main-links-container {
    width: 90%;
    max-width: none;
    margin: 0;
  }
  h3 {
    text-align: center;
  }
  footer {
    display: flex;
    justify-content: center;
  }
  .mobile-line {
    height: 5px;
    width: 90%;
    background-color: #394867;
    margin: 0 auto 20px auto;
  }
}
